setuptools
tqdm
pandas
matplotlib
pymongo
gspread
jinja2
uvicorn
fastapi
scipy
numpy
azure-core
azure-search-documents
pyngrok
openai
argparse
lxml
selenium
tenacity
python-dotenv
websockets
twilio
tiktoken
beautifulsoup4
scikit-learn
pyppeteer
azure_ai_documentintelligence
aiofiles
opencv-python
pyaudio
mss
google-genai
pillow
seaborn
mistune
sounddevice
elevenlabs
pydub
